<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{board/layout/basic}">

<!-- title -->
<th:block layout:fragment="title">
    <title>this is view page</title>
</th:block>

<!-- content -->
<th:block layout:fragment="content">
    <div class="card-content">
        <form class="form-horizontal form-vertical form-view" th:object="${board}">
            <div class="form-group">
                <label for="inp-type-1" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{title}"></p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inp-type-2" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{writer}"></p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{content}"></p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{#temporals.format( insertTime, 'yyyy-MM-dd' )}"></p>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
                <div class="col-sm-10">
                    <p class="form-control" th:text="*{viewCnt}"></p>
                </div>
            </div>
        </form>
        
        <div class="btn_wrap text-center">
            <a th:href="@{/board/list.do}" class="btn btn-default waves-effect waves-light">뒤로가기</a>
            <a th:href="@{/board/modify.do( idx=${board.idx} )}" class="btn btn-primary waves-effect waves-light">수정하기</a>
            <a href="javascript:void(0);" th:data-uri="@{|/board/delete.do?idx=${board.idx}|}"
             class="delete btn btn-danger waves-effect waves-light">삭제하기</a>
        </div>
    </div>
    <!-- /.card-content -->
</th:block>

<th:block layout:fragment="add-content">
    <div class="box-content">
        <div class="card-content card-center">
            <div class="clearfix">
                <h4 class="box-title pull-left">Comment</h4>
                <h5 th:text="|(${#lists.size(board.commentList)})|"></h5>
                <!-- /.box-title -->
            </div>
            
            <form class="form-horizontal form-view" th:action="@{/comment/write.do( idx=${board.idx} ) }" th:object="${commentForm}" method="post">
                <div th:replace="~{board/fragments/form_error :: formErrorsFragment}"></div>
                <div class="input-group margin-bottom-20">
                    <textarea th:field="*{content}" class="form-control" rows="1" placeholder="Comment..."></textarea>
                    <div class="input-group-btn">
                        <button type="submit" class="btn waves-effect waves-light">
                            <i class="fa fa-commenting" aria-hidden="true"></i>
                        </button>
                    </div>
                    <!-- /.input-group-btn -->
                </div>
            </form>
            
            <ul class="notice-list" th:each="comment : ${board.commentList}">
                <li>
                    <span class="name" th:text="임시"></span>
                    <span class="desc" th:text="${comment.content}"></span>
                    <span class="time" th:text="${#temporals.format( comment.insertTime, 'yyyy-MM-dd' )}"></span>
                    <button type="button" class="btn btn-xs btn-circle">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </button>
                </li>
                <!-- <li>
                    <span class="name">Betty Simmons</span>
                    <span class="desc">There are new settings available</span>
                    <span class="time">2019.03.26</span>
                    <button type="button" class="btn btn-xs btn-circle">
                        <i class="fa fa-close" aria-hidden="true"></i>
                    </button>
                </li>  -->
            </ul>
        </div>
        <!-- /.card=content -->
    </div>
    <!-- /.box-content -->
</th:block>
<!-- body.html 안에 script 영역 -->
<th:block layout:fragment="script">
    <!-- <script> 태그에 th:inline 속성을 javascript로 선언해야 자바스크립트를 사용할 수 있다. -->
    <script th:inline="javascript">
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                }
            });
        });
    </script>
</th:block>
</html>